.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}
.heading1 {
  font-size: 36px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 42px;
}

.heading2 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 28px;
  text-transform: uppercase;
}

.heading3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 21px;
}

.heading4 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 19px;
}

.heading5 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 16px;
}










