.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}
.titled-card{
  display: block;
  width: 196px;
  height: 294px;
  position: relative;
}
.titled-card__img{
  width: 100%;
  height: 100%;
  border-radius: 35px;
  object-fit:cover;
}
.titled-card__text{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 35px;
  font-size: 18px;
  color: white;
  bottom:0;
  position: absolute;
}

.common-card {}
.common-card__content {
  padding: 24px;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
